header {
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header-actions {
  display: flex;
  gap: 2rem;
}
